---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOGIN - Clase 17/04">
<main>
    <h1>LOGIN Site</h1>
    <form action=""></form>
    <h2>Usuario</h2>
    <input type="Usuario">
    <h2>Contraseña</h2>
    <input type="Contraseña">
    <button>Enviar</button>
</main>
</Layout>