---
import Layout from "../layouts/Layout.astro";
---


<Layout title="registro" >
    <form action="/api/users">
        <label for="email">Email</label>
        <input type="email" required>
    </form>
</Layout>